@import url(http://fonts.googleapis.com/css?family=Offside);

body {
background-image: url(images/background.jpg);
background-repeat: repeat;
color: #fff;
font-family: 'Offside', cursive;
font-size: 14px;
}

h1, h1 a, h1 a:HOVER, h1 a:ACTIVE, h1 a:VISITED {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 50px;
	color: #FFF;
	text-decoration: none;
}

h2 {
	font-size: 26px;
	margin: 10px 0 20px 0; 
}

h3 {
	font-size: 20px;
	margin: 10px 0 20px 0; 
}

a, a:VISITED { text-decoration: underline; color: #595959;}
a:ACTIVE, a:HOVER { color: #fff;}

.PageWrapper {
	width: 800px;
	margin: 50px auto;
	background: url(images/logo_coding.png) no-repeat 650px 0;
	background-repeat: no-repeat;
}

.Headertext {
	color: #595959;
	margin-bottom: 20px;
}

#footer{
	margin-top: 20px;
	color: #595959;
}

#impress {
	text-align: center;
}

#impress-text {
	visibility: hidden;
}

#impress:hover #impress-text {
visibility: visible;
}

/*####################Startseite###########################################*/
.start .left {
	float: left;
	width: 395px;
	border-right: 5px solid #fff;
}

.start .right {
	float: right;
	width: 390px;
}

.start h2 {
	font-size: 22px;
}

.start input {
	color: #595959;
	width: 350px;
}

.bt a, .bt a:ACTIVE, .bt a:VISITED {
	display: block;
	height: 30px;
	background-color: #595959;
	color: #FFF;
	line-height: 30px;
	width: 150px;
	text-indent: 10px;
	text-decoration: none;
	border:  1px solid #333;
}

.bt a:HOVER {
	cursor: pointer;
	color: #595959;
	background-color: #FFF;
}

.start .bt {
 float: left;
 margin-right: 10px;
}

/*####################Spielfeld############################################*/

#Field {
	position: relative;
	width: 100%;
	height: 500px;
	border: 10px solid #FFF;
}

#middleLine {
	width: 50%;
	height: 100%;
	position: absolute;
	border-right: 1px solid #FFF;
}

#pointsLeft {
	color: #595959;
	font-size: 56px;
	position: absolute;
	margin-left: 20%; 
}

#pointsRight {
	color: #595959;
	font-size: 56px;
	position: absolute;
	margin-left: 70%; 
}

#ball {
	background-color: #FFF;
	width: 50px;
	height: 50px;
	position: absolute;
	
	left: 50%;
	bottom: 50%;
	
	-moz-border-radius : 50%; /* Firefox */
    -webkit-border-radius : 50%; /* Safari & Chrome */
    -khtml-border-radius : 50%; /* Linux browsers */
    border-radius : 50%; /* CSS3 compatible browsers */
    
    background : -moz-linear-gradient(top,  #FFF,  #CCC); /* Firefox 3.6+ */
    background : -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC)); /* Safari & Chrome */
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCC'); /* IE 5.5 - 7 */
    -ms-filter : "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF)"; /* IE 8 */
    
}


.paddel {
	position: absolute;
	width: 10px;
	height: 100px;
	background-color: #FFF;
	border: 1px solid #595959;
}

#paddleLeft {
	left: 5px;
	bottom: 50%;
}

#paddleRight {
right: 5px;
bottom: 50%;
}